* {
				margin: 0;
				padding: 0;
				font-family: "微软雅黑";
			}
			
			body {
				 background: #FFF;

			}
			
			.form {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -185px;
				margin-top: -210px;
				height: 420px;
				width: 340px;
				font-size: 18px;
				-webkit-box-shadow: 0px 0px 10px #A6A6A6;
				background: #fff;
			}
			
			.border-btn {
				border-bottom: 1px solid #ccc;
			}
			
			#landing,
			#registered {
				float: left;
				text-align: center;
				width: 170px;
				padding: 15px 0;
				color: #545454;
			}
			
			#landing-content {
				clear: both;
			}
			
			.inp {
				height: 30px;
				margin: 0 auto;
				margin-top: 30px;
				width: 200px;
			}
			
			.inp>input {
				text-align: center;
				height: 30px;
				width: 200px;
				margin: 0 auto;
				transition: all 0.3s ease-in-out;
			}
			.inp>label {
				font-size: 12px;
			}
			.yzm>label {
				font-size: 12px;
				height: 30px;
				width: 200px;
				margin-top: 80px;
			}
			.yzm{
				height: 30px;
				width: 200px;
			}
			.yzm>input{
				text-align: center;
				vertical-align:middle;
				height: 30px;
				width: 45%;
				margin: 0 auto;
				transition: all 0.3s ease-in-out;
			}
			.yzm>img{
				box-sizing: border-box;
				font-size: 13px;
				vertical-align:middle;
				height: 30px;
				width: 50%;
  				cursor: pointer;

			}
			.chbox {
				font-size: 13px;
				height: 5px;
				margin: 0 auto;
				margin-top: 20px;
				width: 200px;
				display: -webkit-flex;
				display: flex;
				justify-content: space-between;
			}
			.chbox input,span{
				vertical-align: middle;
			}
			
			.btn{
				border: 1px solid #A6A6A6;
				color: #a6a6a6;
				height: 30px;
				width: 202px;
				text-align: center;
				font-size: 13.333333px;
				margin-left: 70px;
				line-height: 30px;
				margin-top: 30px;
				transition: all 0.3s ease-in-out;
			}
			.btn .btn_inp{
				border: none;
				outline: none;
				background: transparent;
				font-size: 13.333333px;
				color: #a6a6a6;
			}
			.btn:hover {
				background: #A6A6A6;
				cursor: pointer;

			}
			.btn_inp:hover{
				color: #fff;
				cursor: pointer;
			}
			#registeredtxt {
				float: left;
				margin-left: 80px;
			}
			
			#forgotpassword {
				float: right;
				margin-right: 80px;
			}
			
		
			
			#registered-content {
				margin-top: 40px;
				display: none;
			}
			#landing-content {
				margin-top: 40px;
			}
			.fix {
				clear: both;
			}
			.form{
				display: none;
			}
			
